.product-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
  border-radius: 0.5rem; // igual que rounded
}



.compact-table .p-datatable-table {
  table-layout: fixed;
  width: 100%;
}

.compact-table th,
.compact-table td {
  padding: 0.25rem 0.4rem;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
