<p-toast />
<p-confirmdialog />

<div class="font-semibold text-xl mb-4">Ventas</div>

<div class="flex flex-col lg:flex-row gap-3 mt-6 w-full">
    <div class="w-full lg:flex-[2.5]">
        <div class="card">
            <div class="flex flex-column sm:flex-row justify-content-between sm:items-center gap-2">
                <div class="font-semibold text-lg">Productos Disponibles</div>

                <span class="flex gap-2 w-full sm:w-auto">

                    <input #filter pInputText type="text" (input)="dt.filterGlobal(filter.value, 'contains')"
                        placeholder="Buscar producto..." class="w-full" />
                </span>
            </div>

            <p-table #dt showGridlines stripedRows [size]="'small'" [value]="products_details()" rowGroupMode="rowspan"
                groupRowsBy="productName" sortField="productName" sortMode="single" [paginator]="true" [rows]="5"
                [rowsPerPageOptions]="[5,10,20]" [globalFilterFields]="['productName','color','size','warehouse']"
                [tableStyle]="{ 'min-width': '20rem' }">

                <!-- HEADER -->
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Color</th>
                        <th>Talla</th>
                        <th>Stock</th>
                        <th>Almacén</th>
                        <th></th>
                    </tr>
                </ng-template>

                <!-- BODY -->
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex" let-rowgroup="rowgroup"
                    let-rowspan="rowspan">

                    <tr [ngClass]="{' bg-green-500 font-semibold': isSelected(product)}">
                        <td>{{ rowIndex + 1 }}</td>
                        <td *ngIf="rowgroup" [attr.rowspan]="rowspan" class="align-middle">

                            <div class="flex flex-column items-center justify-start gap-1">
                                <img [src]="getImageUrl(product.image)" [alt]="product.productName"
                                    class="w-10 h-20 object-cover rounded-md" />

                                <span class="text-sm font-medium text-center">
                                    {{ product.productName }}
                                </span>
                            </div>

                        </td>
                        <td>{{ product.color }}</td>
                        <td>{{ product.size }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.warehouse }}</td>
                        <td>
                            <p-button icon="pi pi-plus" [rounded]="true" [text]="true" severity="success"
                                (onClick)="addProduct(product)" />
                        </td>
                    </tr>

                </ng-template>

                <!-- MENSAJE VACÍO -->
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">
                            No se encontraron productos
                        </td>
                    </tr>
                </ng-template>

            </p-table>

        </div>
    </div>

    <div class="w-full lg:flex-[1.5]">
        <div class="card p-3">

            <div class="flex flex-column sm:flex-row justify-content-between sm:items-center gap-2">
                <div class="font-semibold text-lg">
                    Productos seleccionados
                </div>

                <div class="flex gap-2 w-full sm:w-auto">
                    <p-button icon="pi pi-user" label="Seleccionar Cliente" variant="text" styleClass="w-full sm:w-auto"
                        (click)="isSelectedClient = true" />
                </div>
            </div>



            @if(selectedClient) {
            <div class="card shadow-2 border-round p-3 mt-3 bg-blue-50">

                <div class="flex align-items-center justify-content-between">

                    <div class="flex align-items-center gap-3">
                        <i class="pi pi-user text-blue-500 text-2xl"></i>

                        <div>
                            <div class="text-sm text-500">Cliente seleccionado</div>
                            <div class="font-semibold text-lg">
                                {{ selectedClient.fullName }}
                            </div>
                            <div class="text-sm text-600">
                                📞 {{ selectedClient.phone }}
                            </div>
                        </div>
                    </div>

                    <p-button icon="pi pi-times" severity="secondary" text="true" (click)="selectedClient = undefined">
                    </p-button>

                </div>

            </div>
            }

            <br>

            <div *ngIf="cart().length === 0" class="text-500 text-sm text-center">
                No hay productos agregados
            </div>

            <div *ngFor="let item of cart()"
                class="flex flex-column sm:flex-row sm:justify-content-between sm:align-items-center gap-2 mb-2 pb-2 border-bottom-1 text-xs">

                <!-- INFO PRODUCTO -->
                <div class="flex flex-column gap-0">
                    <span class="font-medium text-sm">
                        {{ item.productName }}
                    </span>

                    <small class="text-500 text-xs">
                        {{ item.color }} - {{ item.size }}
                    </small>
                </div>

                <!-- CANTIDAD -->
                <div class="w-full sm:w-8rem">
                    <p-inputNumber [(ngModel)]="item.quantity" [showButtons]="true" buttonLayout="horizontal" [min]="1"
                        [max]="item.stock" [inputStyle]="{
                        height: '26px',
                        fontSize: '11px',
                        padding: '2px 4px',
                        width: '100%'
                    }" [style]="{
                        width: '100%'
                    }">
                    </p-inputNumber>
                </div>

                <!-- PRECIO -->
                <div
                    class="flex justify-content-between sm:flex-column sm:text-right align-items-center sm:align-items-end gap-2">
                    <div>
                        <div class="text-xs">
                            {{ item.price | currency:'BOB' }}
                        </div>

                        <div class="font-semibold text-sm">
                            {{ item.price * item.quantity | currency:'BOB' }}
                        </div>
                    </div>

                    <button pButton icon="pi pi-trash" severity="danger" text class="p-button-sm"
                        (click)="removeProduct(item.productDetailId)">
                    </button>
                </div>
            </div>

            <hr class="my-2" />
            <!-- RESUMEN -->
            <div class="flex justify-content-between items-center text-xs sm:text-sm">
                <span class="text-600">Subtotal:</span>
                <span class="font-medium">{{ subtotal() | currency:'BOB' }}</span>
            </div>

            <div class="flex flex-column sm:flex-row justify-content-between gap-2 text-xs sm:text-sm mt-2">
                <div class="flex flex-column sm:flex-row sm:items-center gap-2">
                    <span class="text-600">Descuento:</span>

                    <button pButton type="button" icon="pi pi-tag" label="Agregar"
                        class="p-button-text p-button-sm w-full sm:w-auto" (click)="onOpenDiscountDialog()"
                        [disabled]="cart().length === 0">
                    </button>
                </div>

                <span class="font-medium text-red-600 text-right sm:text-left">
                    - {{ discountAmount() | currency:'BOB' }}
                </span>
            </div>

            <div class="flex justify-content-between items-center font-semibold text-sm sm:text-base mt-3">
                <span>Total:</span>
                <span>{{ total() | currency:'BOB' }}</span>
            </div>

            <hr class="my-2" />

            <!-- DETALLES DE LAS VENTAS -->
            <div class="flex flex-column sm:flex-row justify-content-between gap-2 text-xs sm:text-sm mt-2">

                <div class="flex flex-column sm:flex-row sm:items-center gap-2">
                    <span class="text-600">Detalle de venta:</span>

                    <button pButton type="button" icon="pi pi-file" label="Agregar"
                        class="p-button-text p-button-sm w-full sm:w-auto" (click)="onOpenDetailSaleDialog()"
                        [disabled]="cart().length === 0">
                    </button>
                </div>

                <div *ngIf="saleDetail.observation || saleDetail.sold_by || saleDetail.delivered_by"
                    class="surface-100 border-round p-2 text-xs flex flex-column gap-1 w-full sm:w-auto">

                    <span *ngIf="saleDetail.observation">
                        <strong>Obs:</strong> {{ saleDetail.observation }}
                    </span>

                    <span *ngIf="saleDetail.sold_by">
                        <strong>Vendido por:</strong> {{ saleDetail.sold_by }}
                        <span *ngIf="saleDetail.seller_profit">
                            - {{ saleDetail.seller_profit | currency:'BOB' }}
                        </span>
                        <span *ngIf="saleDetail.sold_paid"> - Pagado</span>
                    </span>

                    <span *ngIf="saleDetail.delivered_by">
                        <strong>Entregado por:</strong> {{ saleDetail.delivered_by }}
                        <span *ngIf="saleDetail.delivery_profit">
                            - {{ saleDetail.delivery_profit | currency:'BOB' }}
                        </span>
                        <span *ngIf="saleDetail.delivery_paid"> - Pagado</span>
                    </span>
                </div>
            </div>

            <!-- BOTÓN -->
            <div class="flex gap-2 mt-2">
                <button pButton label="Registrar Pedido" class="w-full mt-2 p-button-sm"
                    [disabled]="cart().length === 0 || !selectedClient" (click)="confirmSale($event, 'order')">
                </button>
                <button pButton label="Registrar Venta" class="w-full mt-2 p-button-sm" severity="success"
                    [disabled]="cart().length === 0 || !selectedClient" (click)="confirmSale($event, 'sale')">
                </button>
            </div>


        </div>
    </div>
</div>

<p-drawer header="Seleccionar Cliente" [(visible)]="isSelectedClient" position="right">

    <div class="flex justify-between">
        <p-select [options]="clients()" [(ngModel)]="selectedClient" optionLabel="fullName" [filter]="true"
            filterBy="fullName" [showClear]="true" placeholder="Seleccionar Cliente" class="w-full md:w-56">
            <ng-template #selectedItem let-selectedOption>
                <div class="flex items-center gap-2">
                    <div>{{ selectedOption.fullName }}</div>
                    <small>{{ selectedOption.phone }}</small>
                </div>
            </ng-template>
            <ng-template let-client #item>
                <div class="flex items-center gap-2">
                    <div>{{ client.fullName }}</div>
                    <small>{{ client.phone }}</small>
                </div>
            </ng-template>
        </p-select>

        <p-button icon="pi pi-check" aria-label="Save" (click)="isSelectedClient = false" />
    </div>
    <br>
    <div class="flex justify-between">
        <div class="text-sm text-500 mt-2">
            ¿No encuentras al cliente?
        </div>
        <p-button label="Agregar Cliente" variant="text" class="mt-2" (click)="isAddClient.set(true)" />
    </div>

    <br>
    <br>
    <!-- Ajustar el bloque @if para evitar conflictos -->
    @if (isAddClient()) {

    <div class="card flex justify-center">
        <div class="flex flex-col gap-3 w-full ">
            <div class="font-semibold text-lg">Agregar Cliente</div>
            <form [formGroup]="newClientForm" class="flex flex-col gap-6">
                <input pInputText placeholder="Nombre" formControlName="fullName" />
                <small class="text-red-500"
                    *ngIf="newClientForm.get('fullName')?.invalid && newClientForm.get('fullName')?.touched">
                    El nombre es requerido
                </small>
                <input pInputText placeholder="Celular" formControlName="phone" />
                <small class="text-red-500"
                    *ngIf="newClientForm.get('phone')?.invalid && newClientForm.get('phone')?.touched">
                    El teléfono es requerido
                </small>
            </form>

            <div class="flex justify-end gap-2">
                <p-button label="Cancelar" variant="text" (click)="isAddClient.set(false)" />
                <p-button label="Agregar" (click)="addClient()" class="ml-2" />
            </div>
        </div>
    </div>

    }
</p-drawer>

<p-dialog header="Descuento" [visible]="isDiscountDialogVisible()" (visibleChange)="isDiscountDialogVisible.set($event)"
    [modal]="true" [closable]="true" [style]="{ width: '40rem', maxWidth: '95vw' }">
    <div class="flex flex-column gap-3">
        <div class="flex gap-2 align-items-center">
            <p-select [options]="discountModeOptions" [ngModel]="discountMode()"
                (ngModelChange)="discountMode.set($event)" optionLabel="label" optionValue="value" class="w-12rem">
            </p-select>

            <p-inputNumber [ngModel]="discountValue()" (ngModelChange)="discountValue.set($event)" [min]="0"
                [max]="discountMode() === 'percent' ? 100 : subtotal()"
                [suffix]="discountMode() === 'percent' ? '%' : ''"
                [mode]="discountMode() === 'percent' ? 'decimal' : 'currency'" currency="BOB" locale="es-BO"
                class="w-full">
            </p-inputNumber>
        </div>
        <br>

        <div class="text-sm text-600">
            Se aplicará: <span class="font-medium">- {{ discountAmount() | currency:'BOB' }}</span>
        </div>

        <div class="flex justify-end gap-2 mt-2">
            <button pButton type="button" label="Quitar" class="p-button-text" (click)="clearDiscount()"></button>
            <button pButton type="button" label="Listo" severity="success"
                (click)="isDiscountDialogVisible.set(false)"></button>
        </div>
    </div>
</p-dialog>


<p-dialog [visible]="isSaleDetailsVisible()" [style]="{ width: '40rem', maxWidth: '95vw' }"
    header="Detalles de {{ typeSaleDetails() === 'sale' ? 'Venta' : 'Pedido' }}" [modal]="true"
    (onHide)="isSaleDetailsVisible.set(false)">

    <ng-template #content>
        <form [formGroup]="saleDetailForm" class="flex flex-col gap-6">

            <!-- Observación -->
            <div>
                <label class="block font-bold mb-2">Observación:</label>
                <textarea pInputTextarea formControlName="observation" rows="3" class="w-full"></textarea>
            </div>

            <!-- Vendedor -->
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-4">
                    <label class="block font-bold mb-2">Vendido por:</label>
                    <input pInputText formControlName="sold_by" class="w-full" />
                </div>
                <div class="col-span-12 md:col-span-4">
                    <label class="block font-bold mb-2">Ganancia: </label>
                    <input pInputText type="number" formControlName="seller_profit" class="w-full" />
                </div>
                <div class="col-span-12 md:col-span-4">
                    <label class="block font-bold mb-2">Pagado?: </label>
                    <p-checkbox formControlName="sold_paid" binary="true" label="Pagado"></p-checkbox>
                </div>
            </div>

            <!-- Repartidor -->
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-4">
                    <label class="block font-bold mb-2">Entregado por:</label>
                    <input pInputText formControlName="delivered_by" class="w-full" />
                </div>
                <div class="col-span-12 md:col-span-4">
                    <label class="block font-bold mb-2">Ganancia: </label>
                    <input pInputText type="number" formControlName="delivery_profit" class="w-full" />
                </div>
                <div class="col-span-12 md:col-span-4">
                    <label class="block font-bold mb-2">Pagado?: </label>
                    <p-checkbox formControlName="delivery_paid" binary="true" label="Pagado"></p-checkbox>
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template #footer>
        <button pButton type="button" label="Quitar" class="p-button-text" (click)="clearSaveDetailForm()"></button>
        <button pButton type="button" label="Listo" severity="success"
            (click)="isSaleDetailsVisible.set(false)"></button>
    </ng-template>

</p-dialog>