<p-toast />

<div class="font-semibold text-xl mb-4">Ventas</div>

<div class="flex flex-col md:flex-row gap-8 mt-6">
    <div class="md:w-2/3">
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-4">
                <div class="font-semibold text-xl">Productos Disponibles</div>

                <span class="p-input-icon-left w-20rem">

                    <input #filter pInputText type="text" (input)="dt.filterGlobal(filter.value, 'contains')"
                        placeholder="Buscar producto..." class="w-full" />
                </span>
            </div>

            <p-table #dt showGridlines stripedRows [size]="'small'" [value]="products_details()" rowGroupMode="rowspan"
                groupRowsBy="productName" sortField="productName" sortMode="single" [paginator]="true" [rows]="5"
                [rowsPerPageOptions]="[5,10,20]" [globalFilterFields]="['productName','color','size','warehouse']"
                [tableStyle]="{ 'min-width': '20rem' }">

                <!-- HEADER -->
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Producto</th>
                        <th>Color</th>
                        <th>Talla</th>
                        <th>Stock</th>
                        <th>Almacén</th>
                        <th></th>
                    </tr>
                </ng-template>

                <!-- BODY -->
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex" let-rowgroup="rowgroup"
                    let-rowspan="rowspan">

                    <tr [ngClass]="{' bg-green-500 font-semibold': isSelected(product)}">
                        <td>{{ rowIndex + 1 }}</td>
                        <td *ngIf="rowgroup" [attr.rowspan]="rowspan" class="align-middle">

                            <div class="flex items-center justify-start gap-2">
                                <img [src]="getImageUrl(product.image)" [alt]="product.productName"
                                    class="w-10 h-10 object-cover rounded-md" />

                                <span class="font-semibold">
                                    {{ product.productName }}
                                </span>
                            </div>

                        </td>
                        <td>{{ product.color }}</td>
                        <td>{{ product.size }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.warehouse }}</td>
                        <td>
                            <p-button icon="pi pi-plus" [rounded]="true" [text]="true" severity="success"
                                (onClick)="addProduct(product)" />
                        </td>
                    </tr>

                </ng-template>

                <!-- MENSAJE VACÍO -->
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">
                            No se encontraron productos
                        </td>
                    </tr>
                </ng-template>

            </p-table>

        </div>
    </div>

    <div class="md:w-1/3">
        <div class="card p-3">

            <div class="font-semibold text-lg mb-3">
                Productos seleccionados
            </div>

            <div *ngIf="cart().length === 0" class="text-500 text-sm text-center">
                No hay productos agregados
            </div>

            <div *ngFor="let item of cart()"
                class="flex justify-content-between align-items-center mb-2 pb-2 border-bottom-1 text-sm">

                <!-- INFO PRODUCTO -->
                <div class="flex flex-column gap-0">
                    <span class="font-medium">
                        {{ item.productName }}
                    </span>
                    <small class="text-500">
                        {{ item.color }} - {{ item.size }}
                    </small>
                </div>
                <!-- CANTIDAD -->
                <p-inputNumber [(ngModel)]="item.quantity" [showButtons]="true" buttonLayout="horizontal" [min]="1"
                    [max]="item.stock" styleClass="w-4rem" [inputStyle]="{
                        height: '28px',
                        fontSize: '10px',
                        padding: '2px 4px',
                        width: '100%'
                    }" [style]="{
                        height: '28px'
                    }">
                </p-inputNumber>




                <!-- PRECIO -->
                <div class="text-right">
                    <div class="text-sm">
                        {{ item.price | currency:'BOB' }}
                    </div>
                    <div class="font-semibold text-sm">
                        {{ item.price * item.quantity | currency:'BOB' }}
                    </div>

                    <button pButton icon="pi pi-trash" severity="danger" text class="p-button-sm mt-1"
                        (click)="removeProduct(item.productDetailId)">
                    </button>
                </div>

            </div>

            <hr class="my-2" />

            <!-- TOTAL -->
            <div class="flex justify-content-between font-semibold text-base">
                <span>Total:</span>
                <span>{{ total() | currency:'BOB' }}</span>
            </div>

            <!-- BOTÓN -->
            <button pButton label="Registrar Venta" class="w-full mt-2 p-button-sm" severity="success"
                [disabled]="cart().length === 0" (click)="registerSale()">
            </button>

        </div>
    </div>
</div>