<nav class="navbar">
  <div class="nav-items">
    <a
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="active"
      class="nav-item"
    >
      <i class="pi pi-home"></i>
      <span>Inicio</span>
    </a>
    <a routerLink="/productos" routerLinkActive="active" class="nav-item">
      <i class="pi pi-box"></i>
      <span>Productos</span>
    </a>
    <a routerLink="/ventas" routerLinkActive="active" class="nav-item">
      <i class="pi pi-shopping-cart"></i>
      <span>Vender</span>
    </a>
    <a routerLink="/pedidos-listado" routerLinkActive="active" class="nav-item">
      <i class="pi pi-list"></i>
      <span>Pedidos</span>
    </a>
    <a routerLink="/ventas-listado" routerLinkActive="active" class="nav-item">
      <i class="pi pi-dollar"></i>
      <span>Transacciones</span>
    </a>
    <a routerLink="/clientes" routerLinkActive="active" class="nav-item">
      <i class="pi pi-users"></i>
      <span>Clientes</span>
    </a>
    <a routerLink="/categorias" routerLinkActive="active" class="nav-item">
      <i class="pi pi-tags"></i>
      <span>Categorías</span>
    </a>
    <button
      type="button"
      class="nav-item nav-item-logout"
      *ngIf="isLoggedIn()"
      (click)="logout()"
    >
      <i class="pi pi-sign-out"></i>
      <span>Cerrar sesión</span>
    </button>
  </div>
</nav>